body{
   background-image:url("school.jpg"); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   
}
table{
    width: 80%;
    margin: 40 px auto;
    background: rgb(124, 154, 167);

}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even),table.list thread> tr{
    background-color: rgb(204,200,200);
}
input[type="texts"],input[type="number"]{
    width:91%;
    padding: 12 px 20 px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid(165,161,161);
    border-radius: 4px;
}
input[type="texts"],input[type="text"]{
    width:91%;
    padding: 12 px 20 px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid(165,161,161);
    border-radius: 4px;
}
input[type="texts"],input[type="reset"]{
    background: #eee;
    padding: 6 px 12 px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 36px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: #4d99dB;
}
input[type="reset"]:hover{
    background: #4d99dB;
}
button{
    background: #eee;
    padding: 6 px 12 px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 36px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
button{
    background-color:4d99dB ;
}
.btn{
    position: absolute;
    top: 27%;
    left: 100px;
    transform: translate(-50, -50);
}
.form_action--button{
    position: absolute;
    top: 27%;
    left: 20px;
    transform: translate(-50, -50);
}